@import '../variables.scss';

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
}

a {
  color: $primary-color;
}

ul {
  padding-left: 2rem;
}

@media screen and (min-width: 1340px) {
  html {
    font-size: 16px;
  }
}
