@import 'src/scss/variables.scss';

.job-company {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0.5rem 0;
}

.job-title {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}
