@import 'src/scss/variables.scss';

.skill-list .subsection-content {
    display: flex;
    flex-wrap: wrap;

    .skill {
        min-width: 6rem;
    }
}

@supports (display: grid) {
    .skill-list .subsection-content {
        display: grid;
        /* autoprefixer: ignore next */
        grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
    }
}
